.Gal-head{
    color: #fff;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 200px;
      @media (max-width: 800px) {
        margin-bottom: -50px;
  
      }
  }
   
  .Gallary{
    display: flex;
    flex-direction: column;
    align-items: center;
  }